body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color:rgb(115, 170, 241);
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(115, 170, 241);
    border-radius: 10px;
    margin-bottom: 10px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #006666;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.dropdown button {
    background-color: #005a80;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown button:hover {
    background-color: #005a80;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown:hover .content {
    display: block;
}

.dropdown a {
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

